

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
}

#pay {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 3px solid green;

    position: relative;
}

.submittal {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4rem 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
}

#amount {
    height: 4rem;
    font-size: 3rem;
}

#balance {
    right: 0rem;
    bottom: 0rem;
    width: 30%;
    position: absolute;
    background-color: rgba(112, 127, 194, 0.377); /* Green */
    border: none;
    color: white;
    padding: 4rem 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
}

#etherlog {
    font-size: 2.5rem;
}

#input {
    position: relative;
    display: block;
}

.input-box { position: relative; }

input { display: block; border: 1px solid #d7d6d6; background: #fff; padding: 2rem 2rem 2rem 8rem; width: 30rem; }

.unit { position: absolute; display: block; right: 36rem; top: .5rem; z-index: 9; font-size: 3rem;}

@media only screen and (max-width: 601px) {
    .pay {
        width: 100%;
    }
}