/* .button {
    background-color: #4CAF50; /* Green 
    border: none;
    color: rgb(89, 89, 226);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
 
  }

  .divider{
    width:10px;
    height:20px;
    display:inline-block;
} */

@media only screen and (max-width: 601px) {
  .logos {
    display:block;
    margin-left:40px;
    margin-right:auto;
  }

  #element{
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: rgb(89, 89, 226);
    color: white;
    text-align: center;
    border-top: 5px solid black;
  }

  .logo {
    margin-bottom:20px;
    margin-right: 50px;
    margin-top: 30px;
  }

  .logopic {
    height:80px;
    width: auto;
    margin-bottom:20px;
    margin-right:50px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 601px) {
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(89, 89, 226);
  color: white;
  text-align: center;
  border-top: 2px solid black;

}

.logo {
  margin-right:50px;
  color: rgb(89, 89, 226);
  margin-bottom:30px;
}

.logopic {
  height:40px;
  width:auto;
  margin-top: 5px;
}
}

body {
  padding-bottom: 50px;
}

.mainimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}