/* .button {
    background-color: #4CAF50; /* Green 
    border: none;
    color: rgb(89, 89, 226);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
 
  }

  .divider{
    width:10px;
    height:20px;
    display:inline-block;
} */

@media only screen and (max-width: 601px) {
  .logos {
    display:block;
    margin-left:40px;
    margin-right:auto;
  }

  #element{
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: rgb(89, 89, 226);
    color: white;
    text-align: center;
    border-top: 5px solid black;
  }

  .logo {
    margin-bottom:20px;
    margin-right: 50px;
    margin-top: 30px;
  }

  .logopic {
    height:80px;
    width: auto;
    margin-bottom:20px;
    margin-right:50px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 601px) {
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(89, 89, 226);
  color: white;
  text-align: center;
  border-top: 2px solid black;

}

.logo {
  margin-right:50px;
  color: rgb(89, 89, 226);
  margin-bottom:30px;
}

.logopic {
  height:40px;
  width:auto;
  margin-top: 5px;
}
}

body {
  padding-bottom: 50px;
}

.mainimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .navigation{background-color: rgb(89, 89, 226);;width:100%;height:80px;margin-bottom:0}

.navigation .logo{padding:0}

.navigation .navigation-menu li a.active{color:#57cbcc}

.navigation .navigation-menu li a{font-size:16px;color:black}

.navigation .navigation-menu li a:hover,.navigation .navigation-menu li a:focus{background:transparent;color:#57cbcc}

.navigation .navbar-toggler{color:black; border-color: rgb(89, 89, 226);;border-radius:0}

.navigation .navbar-collapse{padding:60px;box-shadow:inset 0 1px 0  rgb(89, 89, 226);;border-top:5px solid transparent}

@media(min-width:768px){.navigation .navbar-collapse{box-shadow:none;border-top:none}}

.navbar-toggler:focus{outline-color:#57cbcc}

@media(max-width:610px) {
  .navigation{
    background-color: rgb(89, 89, 226);
    width:100%;
    height:100px;
    margin-bottom:0
  }
} */

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(89, 89, 226);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(36, 26, 122);
  color: white;
}