@import "../css/topnav.scss";
@import "../css/colors.scss";

.topnav {
  @import "../css/topnav.scss";
}

.icon {
  @import "../css/topnav.scss";
}

#logo {
  @import "../css/topnav.scss";
}

body {
  background: $backgroundcolor;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 14rem;
  margin: 0rem;
}

#amount {
  width: 8rem;
  font-size: 1.5rem;
}

.tag::after {
  position: relative;
  // top: 2px;
  right: 3em;
  transition: all .05s ease-in-out;
  content: 'USD';
  font-size: 1.5rem;
}

#title {
  text-align: center;
  font-size: 2.5rem;
  font-family: AvenirNext-Medium;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.right-top {
  position: fixed;
  text-align: center;
  right: 0;
  top: 0;
  padding: 1rem 0rem 1rem 0rem;
}

#signup {
  background: white;
  padding: 1rem 1rem 1rem 1rem;
  text-decoration: none;
  display: inline-block;
  margin-right: 9em;
  font-size: 0.9em;
}

.center {
  position: relative;
}

ul {
  position: relative;
  margin: 0;
  z-index: 2;
  text-align: center;

  li {
    display: inline-block;
    font-size: 0.9em;

    a {
        margin-left: 3rem;
        margin-right: 9em;
      text-decoration: none;
      color: #fff;
      font-size: 2em;
      text-transform: uppercase;
    }
  }
}

// Cards
.cards {
  margin-top: 5rem;
  .card {
    margin: 3rem 2rem 1rem;
    border-bottom: 3px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    .projimage {
      width: 100%;
    }
    .container {
        padding-bottom: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
      #currency {
        padding: 1rem 4rem 1rem 2rem;
        font-size: 2rem;
        margin-right: 2rem;
      }
      .button {
        position: relative;
        float: right;
        bottom: 2rem;
        z-index: 1;
        .submittal {
          color: rgb(86, 86, 141);
          border-radius: 3rem;
          padding: 1rem 2rem 1rem;
          font-size: 2rem;
        }

        .submittal:hover {
          -webkit-transform: scale(
            1.05
          ); /*Grows in size like Angry Birds button*/
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  #title {
    font-size: 1.5rem;
    margin: 0.5rem 0.2rem 0rem 0.2rem;
  }

  .topnav {
    @import "../css/topnav.scss";
  }
  
  .icon {
    @import "../css/topnav.scss";
  }
  
  #logo {
    @import "../css/topnav.scss";
  }
}