@import "colors";

//top navigation bar settings
.topnav {
    background-color: #1a2d61;
    overflow: hidden;
    padding: 1rem 0rem 2rem 0rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 100%;
    height: 4rem;
    top: 0;
    transition: (all, 650ms, cubic-bezier(0.22, 1, 0.25, 1));
    color: $color1;
    z-index: 9;
    content: "";
    display: inline-block;

/* Style the links inside the navigation bar */
  .topnav:hover #myLinks {
    transition-delay: display 5s;
    display: block;
  }

  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2rem 2rem;
    text-decoration: none;
    &:hover + .topnav #myLinks{
      display: block;
      background-color: $background;
      color: black;
  }
  }

  /* Add a color to the active/current link */
  a.active {
    background-color: $color;
    color: white;
  }

  .icon {
    // background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 3rem;
    width: 3rem;
    // padding-top: 1rem;
  }
  .topnav #logo {
    height: 4rem;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
  }
    
  #myLinks {
    display: block;
    // margin-left: 3rem;
    transition: display 2s;
    // float:right;
    a {
      // float:right;
      margin-right:1rem;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .topnav {
    #myLinks {
      display: none;
    }
    ul {
      padding-left: 2rem;
      right: 0;
      li {
        margin-right: 0.5em;
        font-size: 0.5em;

        a {
            margin-left: 1rem;
            margin-right: .5rem;
        }
        &:active + .topnav a{
          display: block;
          background-color: $background;
          color: black;

        #logo {
          float: top;
          left: 0.5rem;
          top: -1.5rem;
          }
      }
    }
    height: 4rem;
    .icon:active {
      #myLinks {
        display: block;
      }
      ul {
        display: block;
        background: black;
        li {
          a {
            display: block;
          }
        }
      }
    }

    ul:hover {
      transition-delay: display 5s;
      display: block;
    }
  }
  .submittal {
    padding: 0.5rem 1.5rem 0.5rem;
    font-size: 1.5rem;
  }
}
}
  
  // #navb {
  //   width: 2rem;
  //   height: 1.5rem;
  // }